@font-face {
  font-family: "iconfont"; /* Project id 4054327 */
  src: url('iconfont.woff2?t=1683460158781') format('woff2'),
       url('iconfont.woff?t=1683460158781') format('woff'),
       url('iconfont.ttf?t=1683460158781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e609";
}

.icon-dian4:before {
  content: "\ec1e";
}

.icon-dian5:before {
  content: "\e7a5";
}

.icon-dian6:before {
  content: "\e601";
}

.icon-diandian-copy-copy-copy:before {
  content: "\e604";
}

.icon-dian7:before {
  content: "\e60a";
}

.icon-spot:before {
  content: "\e605";
}

.icon-dian8:before {
  content: "\ec5e";
}

.icon-dian9:before {
  content: "\ec7b";
}

.icon-dian10:before {
  content: "\e60b";
}

.icon-dian11:before {
  content: "\e951";
}

.icon-dian1:before {
  content: "\e621";
}

.icon-dian2:before {
  content: "\e62c";
}

.icon-mc-dot:before {
  content: "\e68f";
}

.icon-dian-copy2:before {
  content: "\e600";
}

.icon-dian:before {
  content: "\e608";
}

.icon-caret-right:before {
  content: "\e602";
}

.icon-check-rectangle-filled:before {
  content: "\e603";
}

.icon-location-filled:before {
  content: "\e606";
}

.icon-location:before {
  content: "\e607";
}

.icon-a-004_tianjia:before {
  content: "\e60d";
}

.icon-a-004_huo:before {
  content: "\e60e";
}

.icon-icon-chevron-right:before {
  content: "\e615";
}

.icon-icon-nextOne:before {
  content: "\e616";
}

.icon-icon-processForwarding:before {
  content: "\e617";
}

